
body {
    background-color: black;
    transition: background-color linear 5000ms;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 1.5em;
}
header h1 {
    text-shadow: 0 0 5px black, 0 0 10px #3d3d3d, 0 0 15px #878787, 0 0 20px #c9c9c9, 0 0 25px white;
    border-right: 5px solid white;
    width: max-content;
    height: 100%;
    overflow: hidden;
    transition: width linear 5000ms;
    margin: 0 auto;
}