@charset "UTF-8";
/*

Variables

*/
:root {
    --header-height: 300px;

    --article-img-width: 40vw;
    --article-text-width: 40vw;
    --article-header-f-size: 5rem;
}


/*

General Rules

*/
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Source Code Pro', sans-serif;
}

body {
    margin: 0;
    background: radial-gradient(circle at center, #2057A5 0%, #08111F 100%);
    color: white;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 700;
}

img {
    width: 100px;
}
/* 

Header Rules

*/
header {
    /*Change to 100vw in smaller screen*/
    width: 99vw;
    height: var(--header-height);
    background: radial-gradient(circle at center, #0038FF 0%, rgba(0, 11, 48, 0.97) 100%);

}
.header--title {
    margin: 0;
}

.header--content {
    width: 70%;
    margin: 0 auto;
}

.header--description {
    margin-bottom: 0;
}

/*

Main

*/
main {
    margin: 50px 0;
}

article {
    width: 95vw;
    margin: 0 auto;
}
.side-pic {
    width: var(--article-img-width);
    border-radius: 50%;
    border-color: #004E89;
    border-style: solid;
}
/* Article 1 */
.article-1 {
    justify-content: space-around;
}
.article-1 .side-pic{
    border-width: 5px 1px 5px 10px;
}
.article-1 .text {
    width: var(--article-text-width);
}
.article-1 h2 {
    font-size: var(--article-header-f-size);
    letter-spacing: 0.035em;
}


.article-2 .side-pic {
    border-width: 5px 20px 5px 1px;
}

/*

Utility Classes

*/
.flex {
    display: flex;
}
.small-caps {
    font-variant: small-caps;
}
